<!DOCTYPE html>
<html lang="en">
  <head>
{{>headerlinks}}
  </head>
  <body>
{{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="images/about.png"
                  alt=""
                  class="img-fluid"
                  title="Neha Khan"
                />
              </figure>
            </div>
            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Software Engineer | NED </p>
              <h1>
                I am a <span class="txt_clr">MERN STACK DEVELOPER</span> 
              </h1>
              <p>Click the button to check Github Contribution</p>
              <a href="https://github.com/NehaKhann" target="_blank"><button>About Me</button></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
{{>footer}}
  </body>
</html>
